<!DOCTYPE html>
<html>
<head>
<style>
#p01 {
color: red;
}
#p02 {
color: orange;
}
#p03 {
color: yellow;
}
#p04 {
color: green;
}
#p05 {
color: blue;
}
#p06 {
color: indigo;
}
#p07 {
color: violet;
}
</style>
</head>
<body>

<p id="p01">rainbow</p>
<p id="p02">rainbow</p>
<p id="p03">rainbow</p>
<p id="p04">rainbow</p>
<p id="p05">rainbow</p>
<p id="p06">rainbow</p>
<p id="p07">rainbow</p>