<h1>Startup Sprint!</h1>
<img src="images/learnco.png">

<h3>Subscribe to the Startup Sprint newsletter</h3>
<% if @error == 'email' %>
  <p style="color: red;"><%= @full_name %>, please enter a valid email</p>
 <form method=POST action="/subscribe">
    <label for="full-name">Full Name</label>
    <input type="text" id="full-name" name="full_name" value=<%= @full_name %> required>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" required>
    <label for="city">City</label>
    <input type="text" id="city" name="city" value=<%= @city %> >
    <input type="Submit">
  </form>
<%else%>
  <form method=POST action="/subscribe">
    <label for="full-name">Full Name</label>
    <input type="text" id="full-name" name="full_name" required>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" required>
    <label for="city">City</label>
    <input type="text" id="city" name="city">
    <input type="Submit">
  </form>
<% end %>
<ul>
    <li><a href="https://salty-chamber-67169.herokuapp.com/schedule">Schedule</a></li>
    <li><a href="https://salty-chamber-67169.herokuapp.com/rainbow">Rainbow</a></li>
    <li><a href="https://salty-chamber-67169.herokuapp.com/reddit">Reddit</a></li>
    <li><a href="https://salty-chamber-67169.herokuapp.com/training">Training</a></li>
    <li><a href="https://salty-chamber-67169.herokuapp.com/youtube">Youtube</a></li>
<ul>
