<h2>Thanks for inviting someone else!</h2>

<h3>Invite even more friends!</h3>
<form method=POST action="/invite">
  <label for="email">Email</label>
  <input type="text" id="email" name="email" required>
  <input type="Submit" name="Invite" value="Invite!"> 
</form>
<br>
<a href="/">Back</a>