<style>
  .rainbow {
    padding: 0px;
    margin: 0px;
    width:100vw;
    height: 14.5vh;
}
</style>
<div class='rainbow' style='background: #d10000'></div>
<div class='rainbow' style='background: #ff6622'></div>
<div class='rainbow' style='background: #ffda21'></div>
<div class='rainbow' style='background: #33dd00'></div>
<div class='rainbow' style='background: #1133cc'></div>
<div class='rainbow' style='background: #220066'></div>
<div class='rainbow' style='background: #330044'></div>