<div class="container">
  <div class="red">&nbsp;</div>
  <div class="orange">&nbsp;</div>
  <div class="yellow">&nbsp;</div>
  <div class="green">&nbsp;</div>
  <div class="blue">&nbsp;</div>
  <div class="indigo">&nbsp;</div>
  <div class="violet">&nbsp;</div>
</div>
