<!doctype html>
<html>
  <p>
  <svg>
    <rect id="red" height="100" width="1000" fill="red" />
  </svg>
  </p>
  <p>
  <svg>
    <rect id="orange" height="100" width="1000" fill="orange" />
  </svg>
  </p>
  <p>
  <svg>
    <rect id="yellow" height="100" width="1000" fill="yellow" />
  </svg>
  </p>
  <p>
  <svg>
    <rect id="green" height="100" width="1000" fill="green" />
  </svg>
  </p>
  <p>
  <svg>
    <rect id="blue" height="100" width="1000" fill="blue" />
  </svg>
</p>
<p>
  <svg>
    <rect id="indigo" height="100" width="1000" fill="indigo" />
  </svg>
</p>
<p>
  <svg>
    <rect id="violet" height="100" width="1000" fill="violet"/>
  </svg>
</p>
</html>
