<html>
<head>
<style>
.schedule {
-webkit-column-count: 2; / Chrome, Safari, Opera /
-moz-column-count: 2; / Firefox /
column-count: 2;
}
</style>
</head>
<body>

<div class="schedule">

<h3>Today</h3>
<ol>
<% @today.each do |item| %>
<li><%= item.first %>: <%= item.last %></li>
<% end %>
</ol>

<h3>Tomorrow</h3>
<ol>
<% @tomorrow.each do |item| %>
<li><%= item.first %>: <%= item.last %></li>
<% end %>
</ol>

</body>
</html>
