<div>
  <div class="main">
    <div id="container1">

      <div id="col1">
        <h3>Today</h3>
        <% @today.each do |item| %>
        <p><%= item.first %>: <%= item.last %></p>
        <% end %>
      </div>

   <div id="col2">
    <h3>Tomorrow</h3>
      <% @tomorrow.each do |item| %>
        <p><%= item.first %>: <%= item.last %></p>
      <% end %>
  </div>
</div>

</div>
</div>
