<div>
  <div class="column">
    <img class="img-circle" src="/Users/darrendouglas/startup-sprint/public/images/Darren.jpg" width="300" height="300"/>
    <h3>Darren Douglas</h3>
 </div>
   <div class="column">
    <img src="/Users/darrendouglas/startup-sprint/public/images/Danielle.jpg" width="300" height="300">
    <h3>Danielle Harris</h3>
 </div>

  <div class="column">
    <img src="/Users/darrendouglas/startup-sprint/public/images/Edward.jpg" width="300" height="300">
    <h3>Edward Gordon</h3>
 </div>

  <div class="column">
    <img src="/Users/darrendouglas/startup-sprint/public/images/Leigh.jpg" width="300" height="300">
    <h3>Leigh Stauffer</h3>
 </div>

   <div class="column">
    <img src="/Users/darrendouglas/startup-sprint/public/images/Hayden.jpg" width="300" height="300"> 
    <h3>Hayden Gridley</h3>
 </div>

</div>
