<!doctype html>
<html class="no-js" lang="">
<a href="/">Home</a>
    <head>
      <h1>Toon Squad</h1>
    </head>
    <body>
      <h3>Nicole Adolpho</h3>
      <img src="images/nicolea_vfa_ss.png" alt="Mountain View" width="200" height="400">
      <h3>Ray Grossman</h3>
      <img src="images/ray_vfa_ss.jpg" alt="Mountain View" width="220" height="390">
      <h3>Nicole Martinez</h3>
      <img src="images/nicolem_vfa_ss.jpg" alt="Mountain View" width="250" height="380">
      <h3>Arjan Saraon</h3>
      <img src="images/arjan_vfa_ss.jpg" alt="Mountain View" width="190" height="370">
      <h3>Claudia Wynn</h3>
      <img src="images/claudia_vfa_ss.jpg" alt="Mountain View" width="300" height="300">
    </body>
</html>
