<h1>The Team</h1>

<table>
  <colgroup>
  </colgroup>
    
  <tr>
    <th> Kyle Wilcox </th>
    <th> Cherie Chung </th>
    <th> Magdalene McArthur </th>
  </tr>
 
  <tr>
    <td><img src="http://ventureforamerica.org/wp-content/uploads/Kyle-Wilcox-500x500.png" style="width:128px;height:128px;"></td>
    <td><img src="http://ventureforamerica.org/wp-content/uploads/cherie_chung_1024-500x500.jpg" style="width:128px;height:128px;"></td>
    <td><img src="http://ventureforamerica.org/wp-content/uploads/Magdalene-McArthur-500x500.png" style="width:128px;height:128px;"></td>
  </tr>

  <tr>
    <th> Ben Romero </th>
    <th> Jim Clarke </th>
  </tr>

  <tr>
    <td><img src="http://ventureforamerica.org/wp-content/uploads/John-Romero-500x500.png" style="width:128px;height:128px;"></td>
    <td><img src="http://ventureforamerica.org/wp-content/uploads/Jim-Clarke-500x500.png" style="width:128px;height:128px;"></td>
  </tr>
</table>

<a href="/">Home</a>
