
<table>
  <tr>
    <td>
      <IMG SRC="images/Adele.jpg" ALT="no image" WIDTH=256 HEIGHT=300> 
    </td> 
    <td>
      <IMG SRC="images/Ellen.jpg" ALT="no image" WIDTH=256 HEIGHT=300>
    </td>
    <td>
      <IMG SRC="images/Maggie.jpg" ALT="no image" WIDTH=256 HEIGHT=300>
    </td>
  </tr>
  <tr>
    <td>
      Adele Zhang 
    </td>
    <td>
      Ellen Currin
    </td>
    <td>
      Maggie Belshe 
    </td>
  </tr>
  <tr>
    <td>
      <IMG SRC="images/Michael.jpg" ALT="no image" WIDTH=256 HEIGHT=300> 
    </td> 
    <td>
      <IMG SRC="images/Priyang.jpg" ALT="no image" WIDTH=256 HEIGHT=300>
    </td>
    <td>
      <IMG SRC="images/Rafa.jpg" ALT="no image" WIDTH=256 HEIGHT=300>
    </td>
  </tr>
  <tr>
    <td>
      Michael Harrison 
    </td>
    <td>
      Priyang Shah 
    </td>
    <td>
      Rafael De Armas 
    </td>
  </tr>
</table>



