<!doctype html>
<html class="no-js" lang="">
<a href="/">Home</a>
    <body>
      <h3>Planet Earth Snoop Style</h3>
      <iframe width="600" height="450"
      src="https://www.youtube.com/embed/GxMX2u7wVd0"
      frameborder="0" allowfullscreen></iframe>
    </body>
</html>
