.red { min-width: 100%; height:50px; background-color: red; }
.orange { min-width: 100%; height:50px; background-color: orange; }
.yellow { min-width: 100%; height:50px; background-color: yellow; }
.green { min-width: 100%; height:50px; background-color: green; }
.blue { min-width: 100%; height:50px; background-color: blue; }
.indigo { min-width: 100%; height:50px; background-color: indigo; }
.violet { min-width: 100%; height:50px; background-color: violet; }